<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Sage300UnitsExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <Sage300UnitsExport.Properties.Settings>
            <setting name="company" serializeAs="String">
                <value>Timberline Construction</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>abttdev</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>abttdev</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>C:\\Program Files (x86)\\Timberline Office\\Shared</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>demodb.abouttimetech.net</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>korydb</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>50001</value>
            </setting>
            <setting name="pass" serializeAs="String">
                <value>abttdev</value>
            </setting>
            <setting name="sageuser" serializeAs="String">
                <value>
                </value>
            </setting>
            <setting name="sagepassword" serializeAs="String">
                <value>
                </value>
            </setting>
        </Sage300UnitsExport.Properties.Settings>
    </userSettings>
</configuration>
